<div class="row">
  <div class = "col-md-6 offset-md-3 mt-3">
    <h3> Email confirmation page</h3>
    <div class="alert alert-primary" *ngIf="emailConfirmed" role="alert">
      Email confirmed

    </div>
    <div class="alert alert-primary" *ngIf="!emailConfirmed" role="alert">
      Unable to comfirm email confirmed
    </div>

  </div>
  <div class="row" style="width:50%; margin: auto">
    <button style="margin-left: 10px" (click)="goToLogin()" class="button"> Go To Log In</button>
  </div>


</div>
