<div style="height: 40vw;">
  <h2 mat-dialog-title>Update info</h2>
  <mat-divider></mat-divider>
  <form #registrationForm = "ngForm" style="margin-top: 0.5vw; margin-left: 1vw; margin-right: 1vw; margin-bottom: 0.5vw;">
    
      <div class="col-md-12 mb-4 pb-2">
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
          <mat-label>Username</mat-label>
          <input matInput class="example-full-width" appearance="outline"  name="text" placeholder="" disabled>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
          <mat-label>First name</mat-label>
          <input matInput class="example-full-width" appearance="outline"  name="text" placeholder="First name...">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
          <mat-label>Last name</mat-label>
          <input matInput class="example-full-width" appearance="outline" name="text" placeholder="Last name...">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
          <mat-label>Email</mat-label>
          <input matInput class="example-full-width" appearance="outline"   name="text" placeholder="Email...">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;">  <!-- border-style: solid; border-color: gainsboro; border-width: 0.5px; -->
          <mat-label>Phone number</mat-label>
          <input matInput class="example-full-width" appearance="outline"  name="text" placeholder="Phone number...">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="outline" style="width: 33vw;" [color]="genderControl.value">
          <mat-label>Gender*</mat-label>
          <mat-select [formControl]="genderControl" class="example-full-width" appearance="outline" >
            <mat-option value="Female">Female</mat-option>
            <mat-option value="Male">Male</mat-option>
          </mat-select>
        </mat-form-field>
  
        <label>{{message}} </label>

        <div class="mt-4 pt-2">
          <input class="btn btn-success btn-lg center-div" style="background-color: #e44d3a; color:white" type="button" (click)="update()" value="Submit" />
          <input class="btn btn-lg center-div" (click)="cancel()" type="button" value="Cancel" />
        </div>
        <br>
    </div>
  </form>
</div>






